/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Global */

header {
	height: 65px;
	width: 100%;
	background: #f2b66d;
	line-height: 65px;
}

h1, h2, h3, h4, a {
	font-family: 'Quicksand';
}

a {
	text-decoration: underline;
	display: block;
}

h1, h2 {
	font-weight: bold;
}

h2 {
	color: #25c9e2;
}

h3, header a {
	color: #f16935;
}

header h1 {
	color: #fff;
	font-size: 36px;
	float: left;
	margin-left: 20px;
}

header div {
	display: block;
	float: right;
	width: 150px;
	line-height: 30px;
	margin-right: 20px;
}

/** Main */

#content {
	width: 960px;
	margin: 0 auto;
	font-size: 14px;
	font-family: sans-serif;
}

.site-intro {
	margin: 20px 0;
	padding: 10px;
	border: 2px solid #555;
	border-radius: 4px;
}

/** Video */

#vid {
	float: left;
}

.video-title {
	clear: both;
	font-size: 1.4em;
}

.video {
	background: #000;
	width: 640px;
	height: 480px;
}

/** Chat */

#chat {
	float: right;
	display: block;
	width: 280px;
}

.message-header {
	padding: 10px;
	background: #f2b578;
	height: 24px;
}

.message-container {
	border: 1px solid #f2b578;
	height: 470px;
	overflow-y: scroll;
}

.message {
	padding: 10px;
	border-bottom: 1px solid #f2b578;
}

.message:nth-child(even) {
	background: #ff00ff;
}

.message-input-container {
	border: 1px solid #f16841;
	position: relative;
	height: 60px;
}

#message_input {
	padding: 0;
	margin: 0;
	float: left;
	width: 80%;
	border: none;
	height: 100%;
	resize: none;
}

#message_button {
	background: #f16841;
	float: right;
	width: 20%;
	padding: 0;
	margin: 0;
	border: 0;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

