/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Global */

header {
	height: 65px;
	width: 100%;
	background: #f16935;
	background-image: url('/img/wood.png');
	line-height: 65px;
	margin-bottom: 40px;
}

h1, h2, h3, h4, a {
	font-family: 'Quicksand';
}

a {
	display: block;
	color: #24c9df;
}

a:hover {
	text-decoration: underline;
}

h1, h2 {
	font-weight: bold;
}

h2 {
	color: #25c9e2;
	font-size: 12px;
	margin-bottom: 10px;
}

h3, header a {
	font-size: 16px;
}

h3 {
	color: #f16935;
}

header a {
	display: block;
	background: #fa7d4d;
	padding: 1px 10px;
	color: #fff;
	width: 150px;
}

header h1 {
	color: #fff;
	font-size: 36px;
	float: left;
	margin-left: 20px;
}

header div {
	display: block;
	float: right;
	width: 150px;
	line-height: 30px;
	margin-right: 20px;
}

/** Main */

#content {
	width: 960px;
	margin: 0 auto;
	font-size: 14px;
	font-family: sans-serif;
}

.content-spacer{
	height: 0;
	clear:both;
	padding: 5px 0;
}

.site-intro {
	border: 1px solid #ffc785;
	border-radius: 4px;	
}

.site-intro h3 {
	background: #ffc785;
	height: 30px;
	line-height: 30px;
	display: block;
}

.site-intro h3, .site-intro div {
	padding: 5px 10px;
}

/** Video */

#video {
	float: left;
}

.video-title {
	clear: both;
	font-size: 1.4em;
}

.player {
	background: #000;
	width: 640px;
	height: 480px;
}

/** Controls */
.video-controls {
	width: 638px;
	height: 140px;
	background: #24C9DF;
	background: #000;
	border: 1px solid #222;
}

.video-controls span {
	color: #999;
}

.video-controls div {
	float: left;
	padding: 10px;
	margin: 15px;
}

#seek-bar {
	width: 99%;
}

/** Chat */

#chat {
	float: right;
	display: block;
	width: 310px;
}

.message-header {
	padding: 10px;
	background: #ffc785;
	height: 24px;
}

.message-container {
	border: 1px solid #f2b578;
	height: 515px;
	overflow-y: scroll;
}

.message {
	padding: 10px;
}

.message p{
	word-wrap: break-word;
}

.message:nth-child(even) {
	background: #ebebeb;
}

.message-input-container {
	border: 1px solid #fa7d4d;
	position: relative;
	height: 60px;
}

#message_input {
	padding: 0;
	margin: 0;
	float: left;
	width: 80%;
	border: none;
	height: 100%;
	resize: none;
}

#message-button {
	background: #fa7d4d;
	float: right;
	width: 20%;
	padding: 0;
	margin: 0;
	border: 0;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

