/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Global */

button {
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #d1d1d1 49%, #dbdbdb 50%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(49%,#d1d1d1), color-stop(50%,#dbdbdb), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#d1d1d1 49%,#dbdbdb 50%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#d1d1d1 49%,#dbdbdb 50%,#e2e2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#d1d1d1 49%,#dbdbdb 50%,#e2e2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 0%,#d1d1d1 49%,#dbdbdb 50%,#e2e2e2 100%); /* W3C */
	color: #EBEBEB;
	border: 1px solid #e0e0e0;
	cursor: pointer;
}

button img{
	width: 15px;
	height: 15px;
}

header {
	height: 55px;
	width: 100%;
	background: #f16935;
	background-image: url('/img/wood.png');
	line-height: 55px;
	margin-bottom: 20px;
}

h1, h2, h3, h4, a {
	font-family: 'Quicksand';
}

a {
	display: block;
	color: #24c9df;
	font-size: 16px;
}

a:hover {
	text-decoration: underline;
}

h1, h2 {
	font-weight: bold;
}

h2 {
	color: #25c9e2;
	font-size: 12px;
	margin-bottom: 10px;
}

h3, header a {
	font-size: 16px;
}

h3 {
	color: #f16935;
}

header a {
	display: block;
	background: #fa7d4d;
	padding: 0px 10px;
	height: 26.5px;
	line-height: 26.5px;
	color: #fff;
	width: 150px;
	border-bottom: 1px solid #F16935;
}

header h1 {
	color: #fff;
	font-size: 36px;
	float: left;
	margin-left: 20px;
}

header div {
	display: block;
	float: right;
	width: 150px;
	line-height: 30px;
	margin-right: 20px;
}

input[type="range"]{
	background-color: #D1D1D1;
    height: 15px;
    width: 170px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6);
}

/** Main */

#content {
	width: 960px;
	margin: 0 auto;
	font-size: 14px;
	font-family: sans-serif;
}

.content-spacer {
	height: 0;
	clear: both;
	padding: 10px 0;
}

.site-intro {
	border: 1px solid #ffc785;
}

.site-intro h3 {
	background: #ffc785;
	height: 30px;
	line-height: 30px;
	display: block;
}

.site-intro h3, .site-intro div {
	padding: 5px 10px;
}

/** Video */

#video {
	float: left;
}

.video-title {
	clear: both;
	font-size: 1.4em;
}

.player {
	background: #000;
	width: 640px;
	height: 480px;
}

/** Controls */
.video-controls {
	width: 638px;
	height: 180px;
	background: #EBEBEB;
	border: 1px solid #e8e8e8;
}

.video-controls div {
	float: left;
	padding: 10px 2%;
	width: 95%;
}

#playback-title, #recording-title {
	width: 100%;
}

.video-controls span {
	color: #999;
}

#seek-bar {
	width: 99%;
}

/** Chat */

#chat {
	float: right;
	display: block;
	width: 300px;
}

.message-header {
	padding: 10px;
	background: #ffc785;
	height: 24px;
}

.message-container {
	border: 1px solid #f2b578;
	height: 555px;
	overflow-y: scroll;
}

.message-name{
	display: inline-block;
	height: 22px;
	line-height: 22px;
	margin: 0 10px;
}

.message {
	padding: 10px;
}

.message p {
	word-wrap: break-word;
}

.message:nth-child(even) {
	background: #ebebeb;
}

.message-input-container, .chat-login-memo {
	border: 1px solid #fa7d4d;
	position: relative;
	height: 60px;
}

.chat-login-memo {
	background: #FFC785;
	color: #000;
	text-align: center;
	line-height: 60px;
}

#message_input {
	padding: 0;
	margin: 0;
	float: left;
	width: 80%;
	border: none;
	height: 100%;
	resize: none;
}

#message-button {
	background: #fa7d4d;
	float: right;
	width: 20%;
	padding: 0;
	margin: 0;
	border: 0;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

